# TMDB v3 API key -> https://www.themoviedb.org/settings/api
VITE_TMDB_API_KEY=01034e680786e0caca4c9fca0c8da90a

# Optional: Google Gemini API key for the Mood Matcher feature
# https://aistudio.google.com/app/apikey
VITE_GEMINI_API_KEY=AQ.Ab8RN6KwR39yTgm-RKSRA6_lfz8p599oaScODjYSftrBsuk23w